<section class ="admin-dashboard">

  <header>
    <h2>Admin &raquo; Dashboard</h2>
  </header>

  <div class="stats-table">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th><%=link_to "Total Products", [:admin, :products] %></th>
          <th><%=link_to "Total Categories", [:admin, :products] %></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @products_count %></td>
          <td><%= @categories_count %></td>
        </tr>
      </tbody>
    </table>
  </div>

  </section>
